<div class="row">
	<div class="grid-6 column"><%= image_tag slide.image.medium.url %></div>
	<div class="grid-6 column last">
		<h3><%= slide.title %></h3>
		<p><%= slide.description %></p>
	</div>

</div>