<div class="slideshow-entry row">
	<div class="grid-6 column"><%= image_tag slide.image.medium.url %></div>
	<div class="slideshow-info grid-6 column last">
		<h4><%= slide.title %></h4>
		<p><%= slide.description %></p>
	</div>

</div>