<div class="row">
	<div class="grid-12 column last"><%= slideshow.title %></div>
</div>
<div class="row">
	<div class="slideshow grid-6 column">
		<% slideshow.slides.each do |slide| %>
			<%= image_tag slide.image.url, class: 'slide' %>
		<% end %>
	</div>
	<div class="info grid-6 column last"></div>
</div>
