<div class="row">
	<div class="grid-12 column last"><h2><%= slideshow.title %></h2></div>
</div>
<div class="row slideshow-entry">
	<div class="slideshow grid-6 column">
		<% slideshow.slides.each do |slide| %>
			<%= image_tag slide.image.url, class: 'slide', data: {slidetitle: slide.title, slidedesc: slide.description} %>
		<% end %>
	</div>
</div>
