$columns: 12;
$gutters: 1%;


@mixin box-sizing {
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, img, span, h1, h2, h3, h4, p, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
  font-weight: normal;
  vertical-align: baseline;
}
 
* {
  font-weight: normal !important;
  @include box-sizing;
}

body {
	background-color: black;
	font-family: 'Arimo', sans-serif;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 5%;
	background-color: white;
}

.clearfix {
	&:after {
	    content: "";
	    display: table;
	    clear: both; 
	}
}

.row {
	width: 100%;
	margin: 1em auto;
	@extend .clearfix;
}


.column {
	float: left;
	padding: 1em;
	background-color: #B08F4C;
	margin-right: $gutters;
}


@mixin grid-cell($i) {
	width: ((100% + $gutters) / ($columns / $i) - $gutters);
}


@for $i from 1 through $columns {
	.grid-#{$i} {
		@include grid-cell($i)
	}
}

.last {
	margin-right: 0;
}




// SLIDESHOW STYLES
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.slideshow {

	.slide {
		width: 100%;
		display: none;
		opacity:0;  /* make things invisible upon start */

		&.active {
			display: block;

		    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
		    -moz-animation:fadeIn ease-in 1;
		    animation:fadeIn ease-in 1;
		 
		    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
		    -moz-animation-fill-mode:forwards;
		    animation-fill-mode:forwards;
		 
		    -webkit-animation-duration:1s;
		    -moz-animation-duration:1s;
		    animation-duration:1s;

		}
	}
}

.controls {
		margin: 5px 0;
		cursor: pointer;

		.next, .prev {
			color: black;
			text-decoration: none;
		}

		.thumbnail {
			display: inline-block;
			width:20px;
			height: 20px;
			margin: 0 3px;
			background-color: black;
			border-radius: 10px;

			&.current {
				background-color: yellow;
			}

		}


	}