$columns: 12;
$gutters: 1%;

@import "base";

.row {
	width: 100%;
	margin: 1em auto;
	@extend .clearfix;
}


.column {
	float: left;
	padding: 1em;
	// background-color: #B08F4C;
	margin-right: $gutters;
}


@mixin grid-cell($i) {
	width: ((100% + $gutters) / ($columns / $i) - $gutters);
}


@for $i from 1 through $columns {
	.grid-#{$i} {
		@include grid-cell($i)
	}
}

.last {
	margin-right: 0;
}


